<p id="notice"><%= notice %></p>

<p>
  <strong>Rate value:</strong>
  <%= @restaurant_rating.rate_value %>
</p>

<p>
  <strong>User:</strong>
  <%= @restaurant_rating.user_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @restaurant_rating.restaurant_id %>
</p>

<%= link_to 'Edit', edit_restaurant_rating_path(@restaurant_rating) %> |
<%= link_to 'Back', restaurant_ratings_path %>
