<div style="width 100%; border: 1px solid black; text-align: left; margin: 1em; padding: 1em;">
  <h1> Showing dish details</h1>
  <p id="notice"><%= notice %></p>
  <div style="border: 3px solid green;">
    <div id="left_column" style="width: 50%; float: left; border: 1px solid red; margin: 0;">
        <div class="dish_name">
          <%= @dish.name %>
          <span class="right" style="font-size: 0.75em;">Restaurant: <%= link_to @dish.restaurant.name, @dish.restaurant %></span>
        </div>
        <div class="" style="margin-right: 1em; width: 100%;"> 
          <% if @dish.images.count > 0 %>
                <% @dish.images.each do |image| %>
                <% i = image.name %> <% l = image.location_path%>
                <% path =  l.to_s() + i.to_s() %>
                <%= image_tag path, height: "", width: "100%", alt: @dish.name, title: @dish.name %>
              <% end %>
          <%end%>
        </div>
        <%= link_to 'Edit', edit_dish_path(@dish) %> |
  <%= link_to 'Back', dishes_path %>
    </div>
    <div id="right_column" style="width: 45%; border: 1px solid blue; float: left; margin: 0;">
        <div> <strong>Category:</strong> <%= @dish.category %> </div>
        <div class="right"> <strong>Rating:</strong> 5 stars </div>
        <div class="dish_name">Description:</div>
        <div class="dish_description clear_right"><%= @dish.description %></div>  
    </div>
    <div id="right_column" style="width: 25%; border: 1px solid green; float: right; margin: 0;">
    <div class="restaurant_name">Ratings</div>
      <% if @dish.dish_ratings.count > 0 %>
          <% @dish.dish_ratings.each do |dish_ratings| %>
            <%= div_for dish_ratings, style: "background-color: #FFDBDB;" do %> 
                <p class=""><%= dish_ratings.content%></p>
                <p class=""><%= dish_ratings.rate_value%></p>
                <p class="" style="text-align:right;"><%= link_to "Add comment",new_post_comment_path %></p>
                <%end%>
          <%end%>
    <%else%>
      <p>No ratings ...</p>
      <p class="" style="text-align:right;"><%= link_to "Add rating",new_dish_rating_path %></p>
    <%end%>
      
      <p class="right">Add rating</p>
    </div>
    
    
    
 </div>
  <div class="post_list clear_both" style="width 100%; border: 1px solid red; text-align: left; margin: 1em; padding: 1em;">
    List of post
    </div>


    <div id="right_column" style="width: 20%; border: 1px solid green; float: right; margin: 0;">
      <div class="restaurant_name"></div>

        <p>Add rating</p>
      </div>



    <div class="clear_both"></div>




  <div class="" style="border: 1px solid red; text-align: left;">
  </div> <!-- add image -->

    <!-- add new post div-->  
                  <div class="clear_both right" id="new_post" style="">
                        <form action="">
                              Content:<br>
                              <textarea name="message" rows="10" cols="30">
                              </textarea>
                              <br/>
                              Picture:<input type="text" name="pic"><input class="" type="submit" value="browse">
                              <br/><br/>

                              <input class="" type="submit" value="Save">
                              <input class="" type="submit" value="Cancel">
                        </form>
                      </div>








</div>