<h1>Listing dish_ratings</h1>

<table>
  <thead>
    <tr>
      <th>Rate value</th>
      <th>User</th>
      <th>Dish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dish_ratings.each do |dish_rating| %>
      <tr>
        <td><%= dish_rating.rate_value %></td>
        <td><%= dish_rating.user_id %></td>
        <td><%= dish_rating.dish_id %></td>
        <td><%= link_to 'Show', dish_rating %></td>
        <td><%= link_to 'Edit', edit_dish_rating_path(dish_rating) %></td>
        <td><%= link_to 'Destroy', dish_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dish rating', new_dish_rating_path %>
