<h1>Listing restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Location</th>
      <th>Gps lat</th>
      <th>Gps lon</th>
      <th>Category</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </table>
<br/>
  


    <% @restaurants.each do |restaurant| %>
<%= div_for restaurant do %> 
        <span class="restaurant_name left"><%= restaurant.name %></span>
        <span class="restaurant_description left"><%= restaurant.description %></span>
        <span class="left"><%= restaurant.address %></span>
        <span class="left"><%= restaurant.location %></span>
        <span class="left"><%= restaurant.gps_lat %></span>
        <span class="left"><%= restaurant.gps_lon %></span>
        <span class="left"><%= restaurant.category %></span>
 <div class="actions">
        <span><%= link_to 'Show', restaurant %></span>
        <span><%= link_to 'Edit', edit_restaurant_path(restaurant) %></span>
        <span><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></span>
</div>
    <% end %>
<% end %>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
