<div style="text-align: left;">
<h1>Listing images</h1>
  
<table>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.location_path.to_s()+image.name.to_s(), height: "200" %></td>
        <td><%= image.name %></td>
        <td><%= image.description %></td>
        <td><%= image.location_path %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p><%= link_to 'New Image', [:new, @imageable, :image] %></p>
<!--<%= link_to 'New Image', new_image_path %>-->
</div>